<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <link rel="stylesheet" href="../static/css/footer.css" th:href="@{css/footer.css}">
    <title>Stack Demo</title>
</head>
<body>
<header>
    <h1>Stack Demo</h1>
</header>
<main>
    <form method="post" action="Stack.html" th:action="@{process}">
        <p class="form-group">
            <label for="p">Value</label>
            <input id="p" name="pushed" th:value="${popped}" style="width: 5em;">
        </p>
        <p>
            <button type="submit"
                    th:name="todo"
                    th:value="Push">Push</button>&nbsp;
            <button type="submit"
                    th:name="todo"
                    th:value="Pop"
                    th:unless="${session.stack.isEmpty()}">Pop</button>
        </p>
    </form>

    <div th:unless="${session.stack.isEmpty()}">
        <h3 class="card-title">Stack Content</h3>
        <ul>
            <li th:each="s: ${session.stack.data}"
                th:text="${s}">Item</li>
        </ul>
    </div>
    <div th:if="${session.stack.isEmpty()}">
        <h3> Empty Stack </h3>
    </div>
</main>
<footer>
    Sheridan College&nbsp;&nbsp;<span class='hart'>&#9825;</span>&nbsp;&nbsp;2023
</footer>
</body>
</html>
